{% extends 'base.html' %}

{% block content%}
<a href="{% url  'details' %}"><button class="btn btn-dark">All</button></a>
{% for user in users %}
  <a href="{% url  'details' %}?responsible={{ user.id }}"><button class="btn btn-info">{{ user.username }}</button></a>
{% endfor %}

<table class="table table-bordered table-dark">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Channel_name</th>
      <th scope="col">EMAIL</th>
        <th scope="col">location</th>
        <th scope="col">progress</th>
        <th scope="col">Number of subscribers</th>
        <th scope="col">date of last email</th>
        <th scope="col">review notes</th>
        <th scope="col">number of followups</th>
        <th scope="col">permission for ads</th>
        <th scope="col">notes</th>
        <th scope="col">website</th>
    </tr>
  </thead>
  <tbody>
  {% for detail in details %}
    <tr>
        <th scope="row">{{ detail.channel_name.responsible }}</th>
      <th scope="row"><a href="{{ detail.channel_name.channels_url }}">{{ detail.channel_name }}</a></th>
      <th scope="row">{{ detail.channel_name.email }}</th>
      <td>{{ detail.location }}</td>
      {% if detail.progress == '1RD'%}
        <td class="rew_done">Review Done</td>
      {% elif detail.progress == '2AR'%}
      <td class="aw_rew">Awaiting Reviewe</td>
      {% elif detail.progress == '3PS'%}
      <td>Product Sent</td>
      {% elif detail.progress == '4CM'%}
      <td>Communicating</td>
      {% elif detail.progress == '5OD'%}
      <td>Offer Declined</td>
      {% elif detail.progress == '6RJ'%}
      <td>Rejection</td>
      {% elif detail.progress == '7ES'%}
      <td>Email Inauiry Sent</td>
      {% elif detail.progress == '8OH'%}
      <td>On Hold</td>
      {% elif detail.progress == '9DV'%}
      <td>Send your first message</td>
      {% endif %}
      <td>{{ detail.subscribers }}</td>
      <td>{{ detail.date_of_last_email }}</td>
      <td>{{ detail.review_notes }}</td>
      <td>{{ detail.number_of_followups }}</td>
      <td>{{ detail.permission_for_ads }}</td>
      <td>{{ detail.notes }}</td>
      <td>{{ detail.website }}</td>
      <td><a href="{% url 'details_update' pk=detail.id %}"> Update </a></td>
    </tr>
  {% endfor %}

  </tbody>
</table>
{% endblock content%}

